/*Import Font-Family */
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/*Varible*/
:root {
  --colorB: #b1b5ae;
}

/*BODY*/
body {
  background-color: #faf7f2;
  color: var(--colorB);
  overflow-x: hidden;
}
.castoro-titling-regular {
  font-family: "Castoro Titling", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}
.castoro-regular {
  font-family: "Castoro", serif;
  font-weight: 400;
  font-style: normal;
}
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}
.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: black;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*HEADER*/
header {
  position: fixed; /* Fixe le header par rapport à la fenêtre */
  top: 0; /* Collé en haut */
  left: 0; /* Collé à gauche */
  width: 100%; /* Prend toute la largeur */
  z-index: 1000; /* Toujours au-dessus du contenu */
  background: #f4f7f2; /* Donne une couleur de fond pour ne pas que le texte disparaisse */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); /* petit effet d’ombre sous la nav */
}

/*FOOTER*/

footer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.container-logo {
  display: flex;
  justify-content: center;
}
.logo {
  height: 180px;
  width: 180px;
}

.container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: inherit;
  color: var(--colorB);
}
.colorB {
  color: var(--colorB);
}
.footer-links {
  display: flex;
  font-size: 24px;
  color: var(--colorB);
}

.lien-footer {
  color: var(--colorB);
  padding: 0 20px;
  text-decoration: none;
}

.mentions {
  color: var(--colorB);
  margin-top: auto;
  margin-bottom: 10px;
}

.mention-Rgpd {
  color: inherit;
  text-decoration: underline;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.insta {
  height: 80px;
  width: 80px;
}
.f {
  height: 90px;
  width: 90px;
}
/* =========================
   TABLETTE(601px - 1024px)
   ========================= */
@media (min-width: 601px) and (max-width: 1500px) and (orientation: portrait) {
  footer {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto 1fr auto; /* gauche | centre | droite */
    align-items: center;
    column-gap: 10px;
  }

  /* Logo à gauche */
  .container-logo {
    justify-content: flex-start;
    padding-left: 10px;
  }
  .logo {
    width: 120px;
    height: 120px;
  }

  /* Texte au centre (liens + baseline + mentions) */
  .container-text {
    grid-column: 1 / 4;
    grid-row: 2;
    align-items: center;
    text-align: center;
  }
  .footer-links {
    font-size: 16px;
    justify-content: center;
    gap: 6px;
  } /* 
  .lien-footer {
    padding: 0;
  }
  .lora-italic {
    font-size: 9px;
  }
  .mentions {
    font-size: 10px;
    margin: 6px 0 8px;
  } */

  /* Réseaux à droite (en ligne) */
  .container-socials {
    grid-column: 3 / 4;
    justify-content: flex-end;
    padding-right: 10px;
  }
  .socials {
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  .insta {
    width: 50px;
    height: 50px;
  }
  .f {
    width: 56px;
    height: 56px;
  }
}
/* =========================
   MOBILE (<= 600px)
   ========================= */
@media (max-width: 600px) {
  footer {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto 1fr auto; /* gauche | centre | droite */
    align-items: center;
    column-gap: 10px;
  }

  /* Logo à gauche */
  .container-logo {
    justify-content: flex-start;
    padding-left: 10px;
  }
  .logo {
    width: 60px;
    height: 60px;
  }

  /* Texte au centre (liens + baseline + mentions) */
  .container-text {
    grid-column: 1 / 4;
    grid-row: 2;
    align-items: center;
    text-align: center;
  }
  .footer-links {
    font-size: 10px;
    justify-content: center;
    gap: 6px;
  }
  .lien-footer {
    padding: 0;
  }
  .lora-italic {
    font-size: 9px;
  }
  .mentions {
    font-size: 10px;
    margin: 6px 0 8px;
  }

  /* Réseaux à droite (en ligne) */
  .container-socials {
    grid-column: 3 / 4;
    justify-content: flex-end;
    padding-right: 10px;
  }
  .socials {
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  .insta {
    width: 30px;
    height: 30px;
  }
  .f {
    width: 36px;
    height: 36px;
  }
}
/*CSS NAVBAR*/
.burger {
  display: none;
}
.nav {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
  margin-top: 5px;
}
.active {
  font-weight: bold;
}

.lienNav {
  color: inherit;
  text-decoration: none;
}

/* =========================
   TABLETTE(601px - 1024px)
   ========================= */
@media (min-width: 601px) and (max-width: 1500px) {
  .burger {
    display: block;
  }
  .burger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1100;
    width: 45px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    background: transparent;
    border: 0;
    padding: 9px 7px;
    cursor: pointer;

    background-color: white;
    box-shadow: 2px 3px 6px rgba(197, 197, 197, 100);
    border-radius: 8px;
  }
  .burger span {
    display: block;
    height: 4px;
    width: 75%;
    background: var(--colorB);
    border-radius: 2px;
  }
  /* cache la nav en mobile par défaut */
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #faf7f2;
    padding: 50px 12px 10px; /* 50px pour passer sous le burger */
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    transform: translateY(-100%);
    transition: transform 0.25s ease;
    font-size: 20px;
  }
  .nav--open {
    transform: translateY(0);
  }
  .nav a {
    padding: 8px 6px;
  }
}
/* =========================
   MOBILE (<= 600px)
   ========================= */
@media (max-width: 600px) {
  .burger {
    display: block;
  }
  .burger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1100;
    width: 45px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    background: transparent;
    border: 0;
    padding: 9px 7px;
    cursor: pointer;

    background-color: white;
    box-shadow: 2px 3px 6px rgba(197, 197, 197, 100);
    border-radius: 8px;
  }
  .burger span {
    display: block;
    height: 4px;
    width: 75%;
    background: var(--colorB);
    border-radius: 2px;
  }
  /* cache la nav en mobile par défaut */
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #faf7f2;
    padding: 50px 12px 10px; /* 50px pour passer sous le burger */
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    transform: translateY(-100%);
    transition: transform 0.25s ease;
    font-size: 16px;
  }
  .nav--open {
    transform: translateY(0);
  }
  .nav a {
    padding: 8px 6px;
  }
}
/*HERO*/
.hr {
  border: 4px solid black;
  margin: 0 auto;
  width: 90%;
}
h1 {
  font-size: 128px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 0;
  height: 130px;
}

.title-accueil {
  padding: 200px 0;
}

.autrepage {
  padding-bottom: 60px;
}
.subtitle {
  font-size: 32px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.dot-sub {
  font-family: Arial, sans-serif;
  margin: 0 0.5ch;
}

/* =========================
   MOBILE (<= 600px)
   ========================= */
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
    height: auto;
  }
  .subtitle {
    font-size: 10px;
  }

  .title-accueil {
    padding-bottom: 0;
    padding-top: 200px;
  }
}

/*Hero - Carousel*/
.carousel {
  margin-top: 120px;
  overflow: hidden;
  animation: scroll-photos 35s linear infinite;
  display: flex;
  width: calc(600px * 10);
  justify-content: space-around;
  flex-direction: row;
  transition: 0.15s;
}

.card {
  height: auto;
  width: 490px; /* 
  border: 5px solid var(--colorB); */
  border-radius: 130px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.carousel:hover {
  animation-play-state: paused;
}

@keyframes scroll-photos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3332px);
  }
}

/* =========================
   MOBILE (<= 600px)
   ========================= */
@media (max-width: 600px) {
  .hr {
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
    width: 85%;
  }
  .carousel {
    width: calc(300px * 8);
    animation: scroll-photos 18s linear infinite;
  }
  .card {
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 2px solid var(--colorB);
  }

  @keyframes scroll-photos {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-1335px);
    }
  }
}

/*PRESENTATION*/
.presentation {
  display: flex;
  flex-direction: column;
}

.section-title {
  margin-top: 120px;
  font-size: 85px;
  display: flex;
  justify-content: center;
  font-weight: 100;
  text-align: center;
  margin: 0 50px;
}
.title_presentation {
  margin-bottom: 0px;
  margin-top: 120px;
  font-size: 120px;
  display: flex;
  justify-content: center;
  font-weight: 100;
}
.subtitle_presentation {
  font-size: 32px;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  margin-left: 350px;
  margin-right: 350px;
  text-align: center;
}
.subtitle_preintro {
  margin-left: 350px;
  margin-right: 350px;
  text-align: center;
}
.txt_photo {
  margin: 55px 0;
}
.cols {
  display: grid;
  grid-template-columns: 35% 50%;
  grid-template-rows: 1fr;
  grid-column-gap: 196px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
}

.portrait {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 0 0 0 200px;
  border: 5px solid var(--colorB);
  border-radius: 25px;
  object-fit: contain;
}

.pres-text {
  height: auto;
  width: 90%;
  font-size: 24px;
  text-align: justify;
  margin: 0 0 0 0;
  background-color: var(--colorB);
  border-radius: 25px;
  padding: 1em;
  color: white;
}
/* =========================
   TABLETTE(601px - 1024px)
   ========================= */
@media (min-width: 601px) and (max-width: 1500px) and (orientation: portrait) {
  .section-title {
    font-size: 26px;
    margin-top: 100px;
    margin-bottom: 40px;
  }

  .cols {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }

  .portrait {
    height: auto;
    width: 95%;
    margin: 0;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2px solid var(--colorB);
  }
  .pres-text {
    width: auto;
    font-size: 20px;
    text-align: center;
    margin: 0;
    height: auto;
  }
}
/* =========================
   MOBILE (<= 600px)
   ========================= */
@media (max-width: 600px) {
  .subtitle_preintro {
    text-align: center;
    margin: 0;
  }
  .section-title {
    font-size: 26px;
    margin-top: 100px;
    margin-bottom: 40px;
  }
  .title_presentation {
    margin-bottom: 0;
    font-size: 26px;
    margin-top: 100px;
  }
  .subtitle_presentation {
    font-size: 10px;
    text-align: center;
    width: 80%;
    margin: 0 30px;
    margin-bottom: 50px;
  }
  .cols {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }

  .portrait {
    height: auto;
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2px solid var(--colorB);
  }
  .pres-text {
    height: auto;
    width: auto;
    font-size: 12px;
    text-align: center;
    margin: 0;
  }
}

/*BADGES*/
.badges {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 380px;
  padding: 0 25px;
  padding-bottom: 50px;
  border-radius: 80px;
  background-color: var(--colorB);
  color: #ffffff;
  font-size: 24px;
}

.dot {
  height: 70px;
  width: 70px;
}

.video {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
/* =========================
   TABLETTE(601px - 1024px)
   ========================= */
@media (min-width: 601px) and (max-width: 1500px) {
  .badge {
    width: 250px;
    height: 100px;
    font-size: 15px;
    margin-top: 50px;
  }
  .dot {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 601px) and (max-width: 1500px) and (orientation: portrait) {
  .title-accueil {
    text-align: center;
  }
  h1 {
    height: auto;
  }
  .badge {
    width: 200px;
    height: 100px;
    font-size: 15px;
    margin-top: 50px;
    text-align: center;
  }
  .dot {
    width: 50px;
    height: 50px;
  }
}
/* =========================
   MOBILE (<= 600px)
   ========================= */
@media (max-width: 600px) {
  .badges {
    margin-top: 40px;
  }
  .badge {
    height: 50px;
    width: 120px;
    font-size: 8px;
    font-weight: normal;
    border-radius: 25px;
    padding: 0;
    text-align: center;
  }
  .dot {
    width: 25px;
    height: 25px;
  }
  .video {
    margin-top: 40px;
  }
  .VideoYT {
    height: 160px;
    width: 350px;
  }
}

/*PRESTATIONS*/
.title_white {
  color: white;
}
.services {
  background-color: var(--colorB);
  border-radius: 25px;
  margin: 100px 150px;
}

.service-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4em;
}

.thumb {
  border: 5px solid var(--colorB);
  border-radius: 25px;

  width: 180px;
  height: 220px;
  object-fit: cover; /* coupe proprement si l’image n’a pas le bon ratio */
  display: block;
}

.subtitleArticle {
  margin-top: 0.8em;
  color: black;
  background-color: white;
  text-decoration: none;
  font-size: 32px;
  border-radius: 25px;
  padding: 0.8em 1em;
  border: none;
  box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
}

.subtitleArticle:hover {
  box-shadow: none;
  transform: translate(2px, 4px);
  background-color: #f1f1f1;
}

/* =========================
   TABLETTE(601px - 1024px)
   ========================= */
@media (min-width: 601px) and (max-width: 1500px) and (orientation: portrait) {
  .subtitleArticle {
    font-size: 28px;
  }
}
@media (min-width: 601px) and (max-width: 1500px) {
  .services {
    margin: 0;
  }
}
/* =========================
   MOBILE (<= 600px)
   ========================= */
@media (max-width: 600px) {
  .services {
    margin: 0;
  }
  .thumb {
    border-radius: 10px;
    border: 3px solid var(--colorB);
    height: 100px;
    width: 80px;
  }
  .subtitleArticle {
    font-size: 14px;
  }
}
/*AVIS*/
.carousels {
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  animation: scroll-avis 35s linear infinite;
  width: calc(600px * 10);
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  transition: 0.15s;
}

@keyframes scroll-avis {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3332px);
  }
}

.review-card {
  width: 320px;
  height: auto;
  padding: 20px;
  border: 5px solid var(--colorB);
  border-radius: 25px;
  text-align: left;
  color: var(--colorB);
  background: #fff;

  /* Retour à la ligne fluide */
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;

  /* Centrage du contenu vertical */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stars {
  color: #d9d9d9;
  font-size: 30px;
}

/* =========================
   TABLETTE(601px - 1024px)
   ========================= */
@media (min-width: 601px) and (max-width: 1500px) /* and (orientation: portrait) */ {
  .carousels {
    animation: scroll-avis 35s linear infinite;
    width: calc(300px * 12);
  }

  @keyframes scroll-avis {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-2000px);
    }
  }
}
/* =========================
   MOBILE (<= 600px)
   ========================= */
@media (max-width: 600px) {
  .carousels {
    animation: scroll-avis 35s linear infinite;
    width: calc(300px * 12);
  }

  @keyframes scroll-avis {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-2000px);
    }
  }
  .review-card {
    width: 280px;
  }
  .stars {
    font-size: 24px;
  }
}
/*PAGE COIFFURE*/
.container-title {
  /* 
  padding: 200px 0; */
  padding-top: 60px;
}

.intro {
  padding-top: 40px;
  font-size: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* =========================
   MOBILE (<= 600px)
   ========================= */
@media (max-width: 600px) {
  .container-title {
    padding: 0px;
    padding-top: 25px;
  }
  .intro {
    padding-top: 0;
    font-size: 16px;
  }
}

/*TARIFS*/
.tarif-col {
  background-color: var(--colorB);
  margin: 10px 100px;
  border-radius: 25px;
  padding: 30px;
  width: 50%;
}
.tarifs-grid {
  color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-top: 100px;
}
.tarifs-grid-solo {
  color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
h2 {
  font-weight: 400 !important;
}
h3 {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
ul {
  list-style: none;
}
li {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 24px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.price {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 24px;
  padding-left: 85px;
}

.tarifs-note {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: white;
  padding-bottom: 2em;
}

.container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin-top: 0.8em;
  color: black;
  background-color: white;
  text-decoration: none;
  font-size: 25px;
  border-radius: 18px;
  padding: 0.8em 1.5em;
  border: none;
  box-shadow: 5px 10px 4px rgba(107, 107, 107, 0.25);
}

.btn:hover {
  box-shadow: none;
  transform: translate(2px, 4px);
  background-color: white;
}
/* =========================
   TABLETTE(601px - 1024px)
   ========================= */

@media (min-width: 601px) and (max-width: 1500px) {
  .tarifs {
    margin: 0 60px;
  }
  .tarifs-grid {
    row-gap: 32px; /* espace entre les deux colonnes devenues lignes */
  }

  /* Les listes de tarifs (dans les 2 cas) : chaque li = 2 colonnes */
  .tarifs-grid li,
  .tarifs-grid-solo li {
    display: grid;
    grid-template-columns: 1fr auto; /* texte | prix */
    align-items: start; /* prix aligné en haut de la 1re ligne */
    column-gap: 12px;
    padding-bottom: 35px;
  }

  /* Le prix ne se coupe jamais et n’a pas de padding à gauche en mobile */
  .tarifs-grid .price,
  .tarifs-grid-solo .price {
    white-space: nowrap;
    padding-left: 0;
  }

  /* Titres et listes compactes */
  h3 {
    text-align: center;
  }
  ul {
    padding: 0;
  }
  .tarifs-note {
    text-align: center;
  }
}
@media (min-width: 601px) and (max-width: 1500px) and (orientation: portrait) {
  .bloc-visuel {
    height: auto;
  }
  .tarifs-grid {
    grid-template-columns: 1fr;
    row-gap: 32px; /* espace entre les deux colonnes devenues lignes */
  }

  /* Les listes de tarifs (dans les 2 cas) : chaque li = 2 colonnes */
  .tarifs-grid li,
  .tarifs-grid-solo li {
    display: grid;
    grid-template-columns: 1fr auto; /* texte | prix */
    align-items: start; /* prix aligné en haut de la 1re ligne */
    column-gap: 12px;
    padding-bottom: 35px;
  }

  /* Le prix ne se coupe jamais et n’a pas de padding à gauche en mobile */
  .tarifs-grid .price,
  .tarifs-grid-solo .price {
    white-space: nowrap;
    padding-left: 0;
  }

  /* Titres et listes compactes */
  h3 {
    text-align: center;
  }
  ul {
    padding: 0;
  }
  .tarifs-note {
    text-align: center;
    font-size: 23px;
  }
}
/* =========================
   MOBILE (<= 600px)
   ========================= */
@media (max-width: 600px) {
  .tarifs {
    /* 
    background-color: var(--colorB);
    margin: 0 25px;
    height: auto;
    padding: 0 20px; */
  }

  /* La grille principale des deux colonnes devient une seule colonne */
  .tarifs-grid {
    grid-template-columns: 1fr;
    row-gap: 32px; /* espace entre les deux colonnes devenues lignes */
  }

  /* Les listes de tarifs (dans les 2 cas) : chaque li = 2 colonnes */
  .tarifs-grid li,
  .tarifs-grid-solo li {
    display: grid;
    grid-template-columns: 1fr auto; /* texte | prix */
    align-items: start; /* prix aligné en haut de la 1re ligne */
    column-gap: 12px;
    padding-bottom: 35px;
    font-size: 16px;
  }

  /* Le prix ne se coupe jamais et n’a pas de padding à gauche en mobile */
  .tarifs-grid .price,
  .tarifs-grid-solo .price {
    white-space: nowrap;
    padding-left: 0;
    font-size: 16px;
  }

  /* Titres et listes compactes */
  h3 {
    font-size: 24px;
    text-align: center;
    color: white !important;
  }
  ul {
    padding: 0;
  }
  .tarifs-note {
    font-size: 16px;
    text-align: center;
  }

  /* Bouton en-dessous */
  .container-btn {
    margin: 50px 0;
  }
  .btn {
    border-radius: 10px;
    font-size: 24px;
    padding: 13px;
  }
}

/*COMPARATIF*/
.comparatif {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.sections_sociaux {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 0 49px;
  width: max-content;
  border: 5px solid var(--colorB);
  border-radius: 25px;
}

h4 {
  font-weight: bold;
  font-size: 110px;
  margin: 0;
  padding: 25px 0;
  color: black;
  text-align: center;
}

.bloc-comparatif {
  border: 5px solid black;
  border-radius: 25px;
  padding: 25px;
  margin: 40px;
}

.bloc-texte {
  font-size: 24px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.txtcomparatif {
  max-width: 500px;
  text-align: justify;
}

.bloc-visuel {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #d9d9d9;
  border: 5px solid #d9d9d9;
  border-radius: 25px;
  width: 450px;
  height: auto;
  object-fit: contain;
}

.placeholder {
  color: #ffffff;
  font-size: 35px;
}
iframe {
  border-radius: 25px;
  border: 5px solid var(--colorB);
}
/* =========================
   TABLETTE(601px - 1024px)
   ========================= */
@media (min-width: 601px) and (max-width: 1500px) and (orientation: portrait) {
  .page-title {
    font-size: 85px;
  }
  /* .comparatif {
    text-align: center;
  } */
  .bloc-comparatif {
    margin: 20px 5px;
    border: 2px solid var(--colorB);
    border-radius: 10px;
  }
  .txtcomparatif {
    max-width: 300px;
  }
  .bloc-texte {
    font-size: 20px;
  }
  .bloc-visuel {
    width: 200px;
    height: auto;
  }
  .placeholder {
    font-size: 25px;
  }
}
/* =========================
   TABLETTE(601px - 1024px)
   ========================= */
@media (min-width: 601px) and (max-width: 1500px) {
  .section-title {
    text-align: center;
    font-size: 50px;
  }
  .sections_sociaux {
    margin: 0 12%;
    margin-top: 50px;
  }
}
/* =========================
   MOBILE (<= 600px)
   ========================= */
@media (max-width: 600px) {
  h4 {
    font-size: 24px;
    text-align: center;
  }
  .sections_sociaux {
    width: -webkit-fill-available;
    margin: 0 3%;
    padding: 10px 25px;
  }
  .suivre {
    font-size: 24px;
  }
  .comparatif {
    text-align: center;
  }
  .bloc-comparatif {
    margin: 20px 5px;
    border: 2px solid var(--colorB);
    border-radius: 10px;
  }
  .txtcomparatif {
    max-width: 300px;
  }
  .bloc-texte {
    font-size: 12px;
  }
  .bloc-visuel {
    width: 135px;
    height: auto;
  }
  .placeholder {
    font-size: 25px;
  }

  /*+Video*/
  .video {
    margin-bottom: 50px;
  }
}

/*AFFICHAGE EN PLEIN ECRAN PHOTO*/
/* Lightbox plein écran */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none; /* caché au départ */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

/* Bouton de fermeture */
.lightbox .close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

/*PHOTOGRAPHIE*/
.bloc-text {
  font-size: 24px;
  text-align: justify;
  padding: 0 300px;
}

/* =========================
   TABLETTE(601px - 1024px)
   ========================= */
@media (min-width: 601px) and (max-width: 1500px) and (orientation: portrait) {
  .bloc-text {
    padding: 0;
  }
}
/*CONTACT*/
.container-title-contact {
  /* padding: 200px 0; */
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap-map {
  width: -webkit-fill-available;
}
.mail,
.tel {
  color: inherit;
  text-decoration: none;
}

:hover.tel,
:hover.mail {
  text-decoration: underline;
}

.img-contact {
  height: 26px;
  width: 26px;
}
.video {
  position: relative;
}
.map {
  border: 5px solid #b1b5ae;
  border-radius: 25px;
}
.suivre {
  text-align: center;
  font-size: 25px;
  margin: 0;
}
.comparatifs .socials-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20vh;
}

/* =========================
   TABLETTE(601px - 1024px)
   ========================= */
@media (min-width: 601px) and (max-width: 1500px) and (orientation: portrait) {
  .map {
    width: 85%;
  }
  .socials-contact {
    gap: 10vh;
  }
}
/* =========================
   MOBILE (<= 600px)
   ========================= */
@media (max-width: 600px) {
  .bloc-text {
    font-size: 16px;
    padding: 0;
  }
  h3 {
    font-size: 24px;
    padding: 0;
  }

  /*+Contact*/
  .map {
    width: 350px;
    height: 200px;
    border: 2px solid var(--colorB);
    border-radius: 10px;
  }
  .img-contact {
    height: 16px;
    width: 16px;
  }
  .socials-contact {
    gap: 8vh;
  }
}

/*GALERIES*/
.gallery-group {
  border: 5px solid #b1b5ae;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin: 200px 30px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
}

.gallery-grid > *:last-child:nth-child(odd) {
  grid-column: 1 / -1; /* occupe les 2 colonnes */
  justify-self: center; /* se centre sur la ligne */
}

.sr-only {
  width: 560px;
  height: 780px;
  background-color: #d9d9d9;
  color: #ffffff;
  border-radius: 25px;
  text-align: center;
  font-size: 50px;
  margin-bottom: 80px;

  object-fit: contain;
  height: auto;
}

/* =========================
   TABLETTE(601px - 1024px)
   ========================= */
@media (min-width: 601px) and (max-width: 1500px) {
  .sr-only {
    width: 500px;
  }
}
/* =========================
   TABLETTE(601px - 1024px)
   ========================= */
@media (min-width: 601px) and (max-width: 1500px) and (orientation: portrait) {
  .sr-only {
    width: 275px;
    height: auto;
  }
}
/* =========================
   MOBILE (<= 600px)
   ========================= */
@media (max-width: 600px) {
  .gallery-group {
    border: 2px solid var(--colorB);
    border-radius: 10px;
    margin: 0;
    margin: 50px 0;
  }
  .gallery-grid {
    justify-content: center;
  }
  figure {
    margin: 0;
  }
  .sr-only {
    width: 170px;
    height: auto;
    border-radius: 10px;
    font-size: 24px;
  }
}

/*RGPD*/
.page-title {
  text-align: center;
}

.legal {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.legal-box {
  display: flex;
  flex-direction: column;
  border: 5px solid #b1b5ae;
  border-radius: 25px;
  padding: 25px;
  width: max-content;
}
.h3-mentions {
  padding: 0;
}
.text-legal {
  font-size: 36px;
  padding-top: 0;
  padding-left: 50px;
}

/*Politique confidentialité*/
.rgpd {
  width: 50%;
}

/* =========================
   TABLETTE(601px - 1024px)
   ========================= */
@media (min-width: 601px) and (max-width: 1500px) and (orientation: landscape) {
  .legal_landscape {
    margin-top: 25em;
  }
}
@media (min-width: 601px) and (max-width: 1500px) {
  .page-title {
    padding-bottom: 100px;
  }
  .section-title {
    text-align: center;
  }

  .legal-box {
    border: 2px solid var(--colorB);
    border-radius: 10px;
    width: 95%;
    padding: 5px;
  }
  .h3-mentions {
    font-size: 28px;
    text-align: start;
  }
  .text-legal {
    font-size: 24px;
    padding-left: 15px;
  }
}
/* =========================
   MOBILE (<= 600px)
   ========================= */
@media (max-width: 600px) {
  /* .page-title {
    padding-bottom: 100px;
  } */
  .section-title {
    text-align: center;
  }

  .legal-box {
    border: 2px solid var(--colorB);
    border-radius: 10px;
    width: 95%;
    padding: 5px;
  }
  .h3-mentions {
    font-size: 24px;
    text-align: start;
  }
  .text-legal {
    font-size: 18px;
    padding-left: 15px;
  }
}

/* ========================
   ========================
    PARTIE ADMINISTRATEUR
   ========================
   ======================== 
*/

.bandeau_admin {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #b1b5ae;
  color: #ffffff;
}

.btn_bd {
  background-color: #ffffff;
  color: var(--colorB);
  border-radius: 10px;
  border: 1px solid #ffffff;
  padding: 5px 10px;
}

.btn_bd:hover {
  background-color: var(--colorB);
  color: #ffffff;
}
